<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.andmore.ui.category"
            name="Android">
      </category>
      <wizard
            category="org.eclipse.andmore.ui.category"
            class="org.eclipse.andmore.internal.ui.NewAppWizard"
            icon="icons/android.png"
            id="org.eclipse.andmore.ui.wizard.newapp"
            name="Android Application Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.remote.core.remoteServices">
      <connectionTypeService
            connectionTypeId="org.eclipse.andmore.core.connectionType.avd"
            factory="org.eclipse.andmore.internal.ui.AVDRemoteUIService$Factory"
            service="org.eclipse.remote.ui.IRemoteUIConnectionService">
      </connectionTypeService>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.andmore.ui.AndroidLaunchConfigurationTabGroup"
            id="org.eclipse.andmore.ui.launchConfigurationTabGroup"
            type="org.eclipse.andmore.core.appLaunch">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.launchbar.ui.launchTargetTypeUI">
      <launchTargetTypeUI
            id="org.eclipse.andmore.core.connectionType.avd"
            labelProvider="org.eclipse.launchbar.remote.ui.RemoteLaunchTargetLabelProvider">
      </launchTargetTypeUI>
   </extension>
   <extension
         point="org.eclipse.launchbar.ui.launchBarUIContributions">
      <descriptorUI
            descriptorTypeId="org.eclipse.andmore.core.androidApp"
            labelProvider="org.eclipse.andmore.ui.AndroidDescriptorLabelProvider">
      </descriptorUI>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.eclipse.andmore.ui.importCategory"
            name="Android">
      </category>
      <wizard
            category="org.eclipse.andmore.ui.importCategory"
            class="org.eclipse.andmore.internal.ui.ImportGradleProjectWizard"
            icon="icons/android.png"
            id="org.eclipse.andmore.ui.importGradle"
            name="Android Gradle Project">
      </wizard>
   </extension>

</plugin>
