<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="andmore2" sequenceNumber="1">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
<unit id="com.google.gson" version="0.0.0"/>
<unit id="org.freemarker" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/neon/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.gradle.toolingapi" version="0.0.0"/>
<repository location="http://download.eclipse.org/buildship/orbit-staging/latest/"/>
</location>
</locations>
</target>
