<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.remote.core.remoteServices">
      <connectionType
            canAdd="true"
            canEdit="true"
            canRemove="true"
            id="org.eclipse.andmore.core.connectionType.avd"
            name="Android Virtual Device">
      </connectionType>
      <connectionTypeService
            connectionTypeId="org.eclipse.andmore.core.connectionType.avd"
            factory="org.eclipse.andmore.core.internal.remote.AVDConnectionProviderService$Factory"
            service="org.eclipse.remote.core.IRemoteConnectionProviderService">
      </connectionTypeService>
   </extension>
   <extension
         id="androidNature"
         name="Android Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.andmore.core.AndroidNature">
         </run>
      </runtime>
      <builder
            id="org.eclipse.andmore.core.androidBuilder">
      </builder>
   </extension>
   <extension
         id="androidBuilder"
         name="Android Gradle Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true"
            isConfigurable="true"
            supportsConfigurations="true">
         <run
               class="org.eclipse.andmore.core.internal.AndroidBuilder">
         </run>
      </builder>
   </extension>

</plugin>
